/* #fundo {
    background-image: url("site-anna-bella\img\fundo.png");
}
#cabecalho{
    background-color: rgba(192, 192, 192, 0.979);
    color: rgb(77, 77, 77);
    border: 20px hidden;
    padding-block: 5px;
   
} */