/* ESTRUTURA DA PAGINA */
body {
    background: #d2d2c1 url("img/fundo.png") repeat right;
    font: 16px Arial, Helvetica, sans-serif;
}

#principal {
    width: 900px;
}
#cabecalho{
    background: #c5c5b2;
    border: 1px solid #c5c5b2;
    padding: 18px;
}
#conteudo {
    background-color: #e8e8d9;
    padding: 10px;
    
}
#rodape {
    margin: 32px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold  ;
    font-size:24px ;
}

/* TITULO */
.titulohome{
    color: rgba(134, 134, 134, 0.822);
}

.bordaimg{
    border: 10px solid #c3c3ae;
    
}
a {
    text-decoration: none;
    color: #4b566a;
    font-weight: bold;
    padding: 5px;
}
h1 {

    color: #828271;
    font-size: 1.2em;

}


